{
  "openapi": "3.0.1",
  "info": {
    "description": "Documentation of the Dynatrace Environment API v1. To read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/xc03k3c).\n\nNotes about compatibility:\n* Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this.\n* We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.",
    "title": "Dynatrace Environment API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://joh43990.sprint.dynatracelabs.com/api/v1",
      "variables": {}
    }
  ],
  "tags": [
    {
      "description": "View the version of the Dynatrace server",
      "name": "Cluster version"
    },
    {
      "description": "Remove sensitive user data from your sessions",
      "name": "Anonymization"
    },
    {
      "description": "Obtain user sessions data",
      "name": "RUM - User sessions"
    },
    {
      "description": "Manage synthetic monitors",
      "name": "Synthetic - Monitors"
    },
    {
      "description": "Manage synthetic locations and nodes",
      "name": "Synthetic - Locations, nodes, and configuration"
    },
    {
      "description": "Push third-party synthetic data to Dynatrace",
      "name": "Synthetic - Third party"
    },
    {
      "description": "Deprecated. Use the [Settings endpoint](index.jsp?urls.primaryName=Environment%20API%20v2#/Settings%20-%20Objects) with schemaId `builtin:alerting.maintenance-window`.",
      "name": "Maintenance window"
    },
    {
      "description": "Deprecated. Use the new endpoint in [Environment API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Monitored%20entities).",
      "name": "Topology & Smartscape - Application"
    },
    {
      "description": "Deprecated. Use the new endpoint in [Environment API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Monitored%20entities).",
      "name": "Topology & Smartscape - Custom device"
    },
    {
      "description": "Deprecated. Use the new endpoint in [Environment API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Monitored%20entities).",
      "name": "Topology & Smartscape - Host"
    },
    {
      "description": "Deprecated. Use the new endpoint in [Environment API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Monitored%20entities).",
      "name": "Topology & Smartscape - Process"
    },
    {
      "description": "Deprecated. Use the new endpoint in [Environment API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Monitored%20entities).",
      "name": "Topology & Smartscape - Process group"
    },
    {
      "description": "Deprecated. Use the new endpoint in [Environment API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Monitored%20entities).",
      "name": "Topology & Smartscape - Service"
    },
    {
      "description": "Deprecated. Use [Problems API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Problems) instead.",
      "name": "Problem"
    },
    {
      "description": "Deprecated. Use the new endpoint in [Configuration API](index.jsp?urls.primaryName=Configuration%20API#/Anomaly%20detection%20-%20Metric%20events).",
      "name": "Threshold"
    },
    {
      "description": "Manage metrics",
      "name": "Timeseries"
    },
    {
      "description": "View the time of the Dynatrace server",
      "name": "Cluster time"
    },
    {
      "description": "Manage the analysis of operating system logs",
      "name": "Log monitoring - Hosts"
    },
    {
      "description": "Manage the analysis of process group logs",
      "name": "Log monitoring - Process groups"
    },
    {
      "description": "Deprecated. Use [Events API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Events) instead.",
      "name": "Events"
    },
    {
      "description": "Download OneAgent and ActiveGate installers",
      "name": "Deployment"
    },
    {
      "description": "View OneAgent deployment information per host",
      "name": "OneAgent on a host"
    },
    {
      "description": "Deprecated. Use the new endpoint in [Environment API v2](index.jsp?urls.primaryName=Environment%20API%20v2#/Access%20Tokens%20-%20API%20tokens).",
      "name": "Tokens"
    },
    {
      "description": "Manage the analysis of custom device logs",
      "name": "Log monitoring - Custom devices"
    },
    {
      "description": "Download the RUM JavaScript tag",
      "name": "RUM - JavaScript tag management"
    }
  ],
  "paths": {
    "/anonymize/anonymizationJobs": {
      "put": {
        "description": "The job anonymizes all user sessions in the specified timeframe by masking the specified fields. \n\nTo identify user sessions to be anonymized you can specify either userID, or IP address, or both. If you specify both the **OR** logic applies. \n\nYou can't undo the anonymization.",
        "operationId": "anonymize",
        "parameters": [
          {
            "description": "The start timestamp of the user session to anonymize, in UTC milliseconds.\n\n If not set the earliest available time is used.",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "description": "The end timestamp of the user session to anonymize, in UTC milliseconds.\n\n If not set the current time is used.",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "description": "The UserID of the user to anonymize. \n\n You can specify several IDs, in the following format: `userIds=user1&userIds=user2`.",
            "in": "query",
            "name": "userIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "The IP address of the user to anonymize. All user sessions from this IP will be anonymized. \n\nYou can specify several IPs, in the following format: `ips=ip1&ips=ip2`.",
            "in": "query",
            "name": "ips",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "A list of fields to be anonymized. \n\nYou can specify several fields, in the following format: `additionalField=field1&additionalField=field2`.",
            "in": "query",
            "name": "additionalField",
            "schema": {
              "type": "array",
              "enum": [
                "ip",
                "content",
                "country",
                "region",
                "city",
                "userId",
                "isp",
                "stringProperties",
                "longProperties",
                "doubleProperties",
                "dateProperties",
                "carrier",
                "userActions.name",
                "userActions.domain",
                "userActions.targetUrl",
                "userActions.syntheticEvent",
                "userActions.stringProperties",
                "userActions.longProperties",
                "userActions.doubleProperties",
                "userActions.dateProperties",
                "events.name",
                "events.domain",
                "events.page",
                "events.pageGroup",
                "events.pageReferrer",
                "events.pageReferrerGroup"
              ],
              "items": {
                "type": "string",
                "enum": [
                  "ip",
                  "content",
                  "country",
                  "region",
                  "city",
                  "userId",
                  "isp",
                  "stringProperties",
                  "longProperties",
                  "doubleProperties",
                  "dateProperties",
                  "carrier",
                  "userActions.name",
                  "userActions.domain",
                  "userActions.targetUrl",
                  "userActions.syntheticEvent",
                  "userActions.stringProperties",
                  "userActions.longProperties",
                  "userActions.doubleProperties",
                  "userActions.dateProperties",
                  "events.name",
                  "events.domain",
                  "events.page",
                  "events.pageGroup",
                  "events.pageReferrer",
                  "events.pageReferrerGroup"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnonymizationIdResult"
                }
              }
            },
            "description": "Success. The response body contains the ID of the anonymization job. You can use the ID to check the job status."
          },
          "400": {
            "description": "Failed. The input is invalid. See the response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Creates user session anonymization job",
        "tags": [
          "Anonymization"
        ],
        "x-token-scopes": [
          "UserSessionAnonymization"
        ]
      }
    },
    "/anonymize/anonymizationJobs/{requestId}": {
      "get": {
        "operationId": "getStatus",
        "parameters": [
          {
            "description": "The ID of the required anonymization job.",
            "in": "path",
            "name": "requestId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnonymizationProgressResult"
                }
              }
            },
            "description": "Success. The response body contains the status of the anonymization job."
          },
          "400": {
            "description": "Failed. The input is invalid. See the response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Shows the progress of the specified anonymization job",
        "tags": [
          "Anonymization"
        ],
        "x-token-scopes": [
          "UserSessionAnonymization"
        ]
      }
    },
    "/config/clusterversion": {
      "get": {
        "operationId": "getVersion",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterVersion"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the current version of the Dynatrace server",
        "tags": [
          "Cluster version"
        ],
        "x-token-scopes": [
          "DataExport"
        ]
      }
    },
    "/deployment/boshrelease/agent/{osType}/version/{version}": {
      "get": {
        "description": "For SaaS, the call is executed on an Environment ActiveGate. Be sure to use the base of an ActiveGate, **not** the environment.",
        "operationId": "downloadBoshReleaseWithVersion",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The required version of the OneAgent in the `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of BOSH tarballs**](https://dt-url.net/j703kdn) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set `true` to omit the OneAgent connectivity information from the installer. \n\n If not set, `false` is used.",
            "in": "query",
            "name": "skipMetadata",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Success. The payload contains the BOSH release tarball file."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads BOSH release tarballs of the specified version, OneAgent included",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/boshrelease/agent/{osType}/version/{version}/checksum": {
      "get": {
        "description": "The checksum is the sha256 hash of the installer file. \n\nResult is not stable if **skipMetadata** is set to `false`.\n\nFor SaaS only works on environment ActiveGates version 1.176 or higher",
        "operationId": "getBoshReleaseChecksum",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The required version of the OneAgent in the `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of BOSH tarballs**](https://dt-url.net/j703kdn) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set `true` to omit the OneAgent connectivity information from the installer. \n\n If not set, `false` is used.",
            "in": "query",
            "name": "skipMetadata",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoshReleaseChecksum"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the checksum of the specified BOSH release tarball",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/boshrelease/versions/{osType}": {
      "get": {
        "operationId": "getBoshReleaseAvailableVersions",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoshReleaseAvailableVersions"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the list of available OneAgent versions for BOSH release tarballs",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/connectioninfo": {
      "get": {
        "operationId": "getAgentInstallerConnectionInfo",
        "parameters": [
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set `true` to perform a fallback to the default network zone if the provided network zone does not exist.",
            "in": "query",
            "name": "defaultZoneFallback",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The version of the OneAgent for which you're requesting connectivity information, in the `1.221` format. \n\nSet this parameter to get the best format of endpoint list for optimal performance.",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionInfo"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the connectivity information for OneAgent",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/connectioninfo/endpoints": {
      "get": {
        "description": "Highest priority first, separated by a semicolon.If no network zone provided the default zone is used. Responds with 404 if network zone is not known.",
        "operationId": "getAgentInstallerConnectionInfoEndpoints",
        "parameters": [
          {
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set `true` to perform a fallback to the default network zone if the provided network zone does not exist.",
            "in": "query",
            "name": "defaultZoneFallback",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {}
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the list of the ActiveGate-Endpoints to be used for Agents ordered by networkzone-priorities.",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/processmoduleconfig": {
      "get": {
        "description": "Returns the latest process module config. Passing a previously gotten revision will first do a revision check, and return a 304 response if no changes were detected.",
        "operationId": "getAgentProcessModuleConfig",
        "parameters": [
          {
            "description": "The previously received revision to compare against.",
            "in": "query",
            "name": "revision",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentProcessModuleConfigResponse"
                }
              }
            },
            "description": "Success"
          },
          "304": {
            "description": "Not modified."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the latest process module config | maturity=EARLY_ADOPTER",
        "tags": [
          "Deployment"
        ],
        "x-maturity": "EARLY_ADOPTER",
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/versions/{osType}/{installerType}": {
      "get": {
        "operationId": "getAgentInstallerAvailableVersions",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `mainframe`: Downloads all code modules for z/OS combined in a single `*.pax` archive. \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "default-unattended",
                "mainframe",
                "paas",
                "paas-sh"
              ]
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentInstallerVersions"
                }
              }
            },
            "description": "Success. The payload contains the available versions."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists all available versions of OneAgent installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/latest": {
      "get": {
        "description": "For the `paas` or `paas-sh` installer types you can get a configuring installer, by passing additional parameters.",
        "operationId": "downloadLatestAgentInstaller",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `mainframe`: Downloads all code modules for z/OS combined in a single `*.pax` archive. \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "default-unattended",
                "mainframe",
                "paas",
                "paas-sh"
              ]
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          },
          {
            "description": "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "bitness",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "32",
                "64",
                "all"
              ]
            }
          },
          {
            "description": "The code modules to be included to the installer. You can specify several modules in the following format: `include=java&include=dotnet`. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All",
                "enum": [
                  "all",
                  "java",
                  "apache",
                  "nginx",
                  "nodejs",
                  "dotnet",
                  "php",
                  "go",
                  "sdk",
                  "envoy"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Set `true` to omit the OneAgent connectivity information from the installer. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "skipMetadata",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the latest OneAgent installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/latest/metainfo": {
      "get": {
        "description": "If a [standard version](https://dt-url.net/ml03yye) is configured, then this is the downloaded version. \n\nNon-required parameters are only applicable to the `paas` and `paas-sh` installer types.",
        "operationId": "getAgentInstallerMetaInfo",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `mainframe`: Downloads all code modules for z/OS combined in a single `*.pax` archive. \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "default-unattended",
                "mainframe",
                "paas",
                "paas-sh"
              ]
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          },
          {
            "description": "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "bitness",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "32",
                "64",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallerMetaInfoDto"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the latest available version of a OneAgent installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/version/{version}": {
      "get": {
        "description": "For the `paas` or `paas-sh` installer types you can get a configuring installer, by passing additional parameters.",
        "operationId": "downloadAgentInstallerWithVersion",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer: \n\n* `default`: Self-extracting installer for manual installation. Downloads an `.exe` file for Windows or an `.sh` file for Unix. \n* `default-unattended`: Self-extracting installer for unattended installation. Windows only. Downloads a `.zip` archive, containing the `.msi` installer and the batch file. This option is deprecated with OneAgent version 1.173 \n* `mainframe`: Downloads all code modules for z/OS combined in a single `*.pax` archive. \n* `paas`: Code modules installer. Downloads a `*.zip` archive, containing the `manifest.json` file with meta information or a `.jar` file for z/OS. \n* `paas-sh`: Code modules installer. Downloads a self-extracting shell script with the embedded `tar.gz` archive.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "default-unattended",
                "mainframe",
                "paas",
                "paas-sh"
              ]
            }
          },
          {
            "description": "The required version of the OneAgent in `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of OneAgent**](https://dt-url.net/fo23rb5) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          },
          {
            "description": "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "bitness",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "32",
                "64",
                "all"
              ]
            }
          },
          {
            "description": "The code modules to be included to the installer. You can specify several modules in the following format: `include=java&include=dotnet`. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All",
                "enum": [
                  "all",
                  "java",
                  "apache",
                  "nginx",
                  "nodejs",
                  "dotnet",
                  "php",
                  "go",
                  "sdk",
                  "envoy"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Set `true` to omit the OneAgent connectivity information from the installer. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "skipMetadata",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads OneAgent installer of the specified version",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/agent/{osType}/{installerType}/version/{version}/checksum": {
      "get": {
        "description": "The checksum is the sha256 hash of the installer file.\n\nCompare this checksum only with a non-customized OneAgent installer.\n\nTo get a non-customized installer, set the **skipMetadata** query parameter of the download endpoint to `true`.",
        "operationId": "getAgentInstallerWithVersionChecksum",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix",
                "aix",
                "solaris",
                "zos"
              ]
            }
          },
          {
            "description": "The type of the installer.",
            "in": "path",
            "name": "installerType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "paas"
              ]
            }
          },
          {
            "description": "The required version of the OneAgent in `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of OneAgent**](https://dt-url.net/fo23rb5) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The flavor of your Linux distribution: \n\n* `musl` for Linux distributions, which are using the musl C standard library, for example Alpine Linux. \n* 'multidistro` for all Linux distributions which are using musl C and glibc standard library. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "flavor",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "default",
                "multidistro",
                "musl"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Use this value for AIX and z/OS. Defaults to `x86` for other OS types. \n* `x86`: x86 architecture.\n* `ppc`: PowerPC architecture, only supported for AIX and Linux.\n* `ppcle`: PowerPC Little Endian architecture, only supported for Linux.\n* `sparc`: Sparc architecture, only supported for Solaris. \n\n* `arm`: ARM architecture, only supported for Linux. \n\n* `s390`: S/390 architecture, only supported for Linux. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "arm",
                "ppc",
                "ppcle",
                "s390",
                "sparc",
                "x86"
              ]
            }
          },
          {
            "description": "The bitness of your OS. Must be supported by the OS. \n\n Only applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "bitness",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "32",
                "64",
                "all"
              ]
            }
          },
          {
            "description": "The code modules to be included to the installer. You can specify several modules in the following format: `include=java&include=dotnet`. \n\nOnly applicable to the `paas` and `paas-sh` installer types.",
            "in": "query",
            "name": "include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": "All",
                "enum": [
                  "all",
                  "java",
                  "apache",
                  "nginx",
                  "nodejs",
                  "dotnet",
                  "php",
                  "go",
                  "sdk",
                  "envoy"
                ]
              },
              "uniqueItems": true
            }
          },
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OneAgentInstallerChecksum"
                }
              }
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest OneAgent installed."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the checksum of a non-customized OneAgent installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/gateway/connectioninfo": {
      "get": {
        "operationId": "getActiveGateInstallerConnectionInfo",
        "parameters": [
          {
            "description": "The network zone you want the result to be configured with.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateConnectionInfo"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the connectivity information for Environment ActiveGate",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/gateway/versions/{osType}": {
      "get": {
        "operationId": "getActiveGateInstallerAvailableVersions",
        "parameters": [
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n\n",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "amd64",
                "s390"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateInstallerVersions"
                }
              }
            },
            "description": "Success. The payload contains the available versions."
          },
          "404": {
            "description": "Not found. See the response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists all available versions of ActiveGate installer",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/gateway/{osType}/latest": {
      "get": {
        "operationId": "downloadLatestGatewayInstaller",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The network zone you want the result to be configured with. Requires at least ActiveGate version 1.247.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n\n",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "amd64",
                "s390"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the configured standard ActiveGate installer of the latest version for the specified OS",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/installer/gateway/{osType}/version/{version}": {
      "get": {
        "operationId": "downloadGatewayInstallerWithVersion",
        "parameters": [
          {
            "description": "The ETag of the previous request. Do not download if it matches the ETag of the installer.",
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The operating system of the installer.",
            "in": "path",
            "name": "osType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "windows",
                "unix"
              ]
            }
          },
          {
            "description": "The required version of the ActiveGate installer, in `1.155.275.20181112-084458` format. \n\nYou can retrieve the list of available versions with the [**GET available versions of ActiveGate**](https://dt-url.net/kh43rha) call.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The network zone you want the result to be configured with. Requires at least ActiveGate version 1.247.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The architecture of your OS: \n\n* `all`: Defaults to `amd64`. \n* `amd64`: amd64 architecture.\n* `s390`: S/390 architecture, only supported for Linux. \n\n",
            "in": "query",
            "name": "arch",
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "all",
                "amd64",
                "s390"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the ActiveGate installer of the specified version",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/lambda/agent/latest": {
      "get": {
        "description": "Get the latest version names of the OneAgent for the Java, Node.js, and Python AWS Lambda runtimes, also including names for layers that are combined with the log collector, as well as for the standalone log collector layer.",
        "operationId": "getLatestLambdaBuildUnits",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestLambdaLayerNames"
                }
              }
            },
            "description": "Success. The payload contains the available versions."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Get the latest version names of the OneAgent for AWS Lambda",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/latest": {
      "get": {
        "description": "Downloading the latest available deployment orchestration script tarball matching the requested Orchestration Type (ansible, puppet).",
        "operationId": "downloadLatestAgentOrchestration",
        "parameters": [
          {
            "description": "The Orchestration Type of the orchestration deployment script.",
            "in": "path",
            "name": "orchestrationType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ansible",
                "puppet"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the latest OneAgent deployment orchestration tarball",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/latest/signature": {
      "get": {
        "description": "Downloading the latest available deployment orchestration tarball's sigature matching the requested Orchestration Type (ansible, puppet).",
        "operationId": "downloadLatestAgentOrchestrationSignature",
        "parameters": [
          {
            "description": "The Orchestration Type of the orchestration deployment script.",
            "in": "path",
            "name": "orchestrationType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ansible",
                "puppet"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the latest OneAgent deployment orchestration tarball's signature",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/version/{version}": {
      "get": {
        "description": "Downloading the requested version matching deployment orchestration tarball matching the requested Orchestration Type (ansible, puppet).",
        "operationId": "downloadAgentOrchestrationWithVersion",
        "parameters": [
          {
            "description": "The Orchestration Type of the orchestration deployment script.",
            "in": "path",
            "name": "orchestrationType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ansible",
                "puppet"
              ]
            }
          },
          {
            "description": "The requested version of the OneAgent orchestration deployment tarball in `0.1.0.20200925-120822` format.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the requested version matching OneAgent deployment orchestration tarball",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/deployment/orchestration/agent/{orchestrationType}/version/{version}/signature": {
      "get": {
        "description": "Downloading the requested version matching deployment orchestration tarball's signature matching the requested Orchestration Type (ansible, puppet).",
        "operationId": "downloadAgentOrchestrationSignatureWithVersion",
        "parameters": [
          {
            "description": "The Orchestration Type of the orchestration deployment script.",
            "in": "path",
            "name": "orchestrationType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ansible",
                "puppet"
              ]
            }
          },
          {
            "description": "The requested version of the OneAgent deployment orchestration tarball in `0.1.0.20200925-120822` format.",
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {}
            },
            "description": "Success. The payload contains the installer file."
          },
          "304": {
            "description": "Not modified. You already have the latest version of the installer. The response does not contain a payload."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Downloads the requested version matching OneAgent deployment orchestration tarball's signature",
        "tags": [
          "Deployment"
        ],
        "x-token-scopes": [
          "InstallerDownload"
        ]
      }
    },
    "/entity/applications": {
      "get": {
        "deprecated": true,
        "description": "You can narrow down the output by specifying filtering parameters for the request. \n\nYou can additionally limit the output by using pagination: \n1. Specify the number of results per page in the **pageSize** query parameter. \n2. Then use the URL-encoded cursor from the **Next-Page-Key** response header in the **nextPageKey** query parameter to obtain subsequent pages.",
        "operationId": "getApplications",
        "parameters": [
          {
            "description": "The start timestamp of the requested timeframe, in milliseconds (UTC). \n\nIf not set, then 72 hours behind from now is used.",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "The end timestamp of the requested timeframe, in milliseconds (UTC). \n\nIf not set, then the current timestamp is used. \n\nThe timeframe must not exceed 3 days.",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "The relative timeframe, back from now.",
            "in": "query",
            "name": "relativeTime",
            "schema": {
              "type": "string",
              "enum": [
                "min",
                "5mins",
                "10mins",
                "15mins",
                "30mins",
                "hour",
                "2hours",
                "6hours",
                "day",
                "3days"
              ]
            }
          },
          {
            "description": "Filters the resulting set of applications by the specified tag. You can specify several tags in the following format: `tag=tag1&tag=tag2`. The application has to match **all** the specified tags. \n\nIn case of key-value tags, such as imported AWS or CloudFoundry tags, use the following format: `tag=[context]key:value`. For custom key-value tags, omit the context: `tag=key:value`.",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Filters result to the specified applications only. \n\n To specify several applications use the following format: `entity=ID1&entity=ID2`.",
            "in": "query",
            "name": "entity",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Only return applications that are part of the specified management zone.",
            "in": "query",
            "name": "managementZone",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "Includes (`true`) or excludes (`false`) details which are queried from related entities.\n\nExcluding details may make queries faster. \n\nIf not set, then `true` is used.",
            "in": "query",
            "name": "includeDetails",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "description": "The number of applications per result page. \n\n If not set, pagination is not used and the result contains all applications fitting the specified filtering criteria.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The cursor for the next page of results. You can find it in the **Next-Page-Key** header of the previous response. \n\nIf you're using pagination, the first page is always returned without this cursor. \n\nYou must keep all other query parameters as they were in the first request to obtain subsequent pages.",
            "in": "query",
            "name": "nextPageKey",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            },
            "description": "Success",
            "headers": {
              "Next-Page-Key": {
                "description": "The cursor for the next page of results. Without it you'll get the first page again.\n\n The cursor must be URL-encoded.",
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "Page-Size": {
                "description": "The maximum number of results per page.",
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "Total-Count": {
                "description": "The estimated number of results.",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                },
                "style": "simple"
              }
            }
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the list of all applications in your environment along with their parameters",
        "tags": [
          "Topology & Smartscape - Application"
        ],
        "x-token-scopes": [
          "DataExport"
        ]
      }
    },
    "/entity/applications/{meIdentifier}": {
      "get": {
        "deprecated": true,
        "operationId": "getSingleApplication",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the required application.",
            "in": "path",
            "name": "meIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets parameters of the specified application",
        "tags": [
          "Topology & Smartscape - Application"
        ],
        "x-token-scopes": [
          "DataExport"
        ]
      },
      "post": {
        "deprecated": true,
        "operationId": "updateApplication",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the application you want to update.",
            "in": "path",
            "name": "meIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEntity"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success. The parameters of the application have been updated."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Updates parameters of the specified application",
        "tags": [
          "Topology & Smartscape - Application"
        ],
        "x-token-scopes": [
          "DataExport"
        ]
      }
    },
    "/entity/applications/{meIdentifier}/baseline": {
      "get": {
        "deprecated": true,
        "operationId": "getBaselineValuesForSingleApplication",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the required application.",
            "in": "path",
            "name": "meIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationBaselineValues"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets baseline data for the specified application | maturity=EARLY_ADOPTER",
        "tags": [
          "Topology & Smartscape - Application"
        ],
        "x-maturity": "EARLY_ADOPTER",
        "x-token-scopes": [
          "DataExport"
        ]
      }
    },
    "/entity/infrastructure/custom-devices/{customDeviceId}/logs": {
      "get": {
        "operationId": "customDeviceLogList",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the required custom device.",
            "in": "path",
            "name": "customDeviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/LogListForCustomDeviceResult"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. See the response body for details"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists all the available logs on the specified custom device",
        "tags": [
          "Log monitoring - Custom devices"
        ],
        "x-token-scopes": [
          "LogExport"
        ]
      }
    },
    "/entity/infrastructure/custom-devices/{customDeviceId}/logs/jobs/{jobId}": {
      "delete": {
        "operationId": "customDeviceLogJobDelete",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the required custom device.",
            "in": "path",
            "name": "customDeviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the log analysis job to be deleted. \n\n You can retrieve it from the response of the [POST analysis job](https://dt-url.net/kzi3rb8) request.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/LogJobDeleteResult"
                }
              }
            },
            "description": "Success. The job has been deleted."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. See the response body for details"
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Not found. See the response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Deletes or cancels the specified log analysis job",
        "tags": [
          "Log monitoring - Custom devices"
        ],
        "x-token-scopes": [
          "LogExport"
        ]
      },
      "get": {
        "operationId": "customDeviceLogJobStatus",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the required custom device.",
            "in": "path",
            "name": "customDeviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the required log analysis job. \n\n You can retrieve it from the response of the [POST analysis job](https://dt-url.net/kzi3rb8) request.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/LogJobStatusResult"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. See the response body for details"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets status of the specified log analysis job",
        "tags": [
          "Log monitoring - Custom devices"
        ],
        "x-token-scopes": [
          "LogExport"
        ]
      }
    },
    "/entity/infrastructure/custom-devices/{customDeviceId}/logs/jobs/{jobId}/records": {
      "get": {
        "description": "Results are available only when the status of the analysis job for this log is `READY`. To check the job status, use the [GET analysis job status](https://dt-url.net/usg3rbv) request. \n\nLong results split into several pages. By default, a page contains 100 results. You can change this value with the **pageSize** query parameter, up to 10,000.",
        "operationId": "customDeviceLogJobRecords",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the required custom device.",
            "in": "path",
            "name": "customDeviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the required log analysis job. \n\n You can retrieve it from the response of the [POST analysis job](https://dt-url.net/kzi3rb8) request.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The **scrollToken** value from the previous response. \n\n You can use it to get the next page of results. Without it, the first page is always returned.",
            "in": "query",
            "name": "scrollToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of records per result page. \n\n If not set, each page contains 100 results. \n\n Maximum allowed value is `10000`.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/LogJobRecordsResult"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. See the response body for details"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the content of the analyzed log",
        "tags": [
          "Log monitoring - Custom devices"
        ],
        "x-token-scopes": [
          "LogExport"
        ]
      },
      "post": {
        "description": "Results are available only when the status of the analysis job for this log is `READY`. To check the job status, use the [GET analysis job status](https://dt-url.net/usg3rbv) request. \n\nLong results split into several pages. By default, a page contains 100 results. You can change this value with the **pageSize** query parameter, up to 10,000.",
        "operationId": "customDeviceLogJobRecordsFiltered",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the required custom device.",
            "in": "path",
            "name": "customDeviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the required log analysis job. \n\n You can retrieve it from the response of the [POST analysis job](https://dt-url.net/kzi3rb8) request.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The **scrollToken** value from the previous response. \n\n You can use it to get the next page of results. Without it, the first page is always returned.",
            "in": "query",
            "name": "scrollToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of records per result page. \n\n If not set, each page contains 100 results. \n\n Maximum allowed value is `10000`.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/FilterLogContent"
              }
            }
          },
          "description": "Filter the log content by the specified criteria. \n\nSee [Search patterns in log data and parse results](https://dt-url.net/57a3rgv) in Dynatrace Documentation for the syntax definition and examples."
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/LogJobRecordsResult"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. See the response body for details"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the filtered content of the analyzed log",
        "tags": [
          "Log monitoring - Custom devices"
        ],
        "x-token-scopes": [
          "LogExport"
        ]
      }
    },
    "/entity/infrastructure/custom-devices/{customDeviceId}/logs/jobs/{jobId}/records/top": {
      "post": {
        "description": "Results are available only when the status of the analysis job for this log is `READY`. To check the job status, use the [GET analysis job status](https://dt-url.net/usg3rbv) request.",
        "operationId": "customDeviceLogJobRecordsTop",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the required custom device.",
            "in": "path",
            "name": "customDeviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the required log analysis job. \n\n You can retrieve it from the response of the [POST analysis job](https://dt-url.net/kzi3rb8) request.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/FilterTopLogRecords"
              }
            }
          },
          "description": "Filter the log content by the specified criteria. \n\nSee [Search patterns in log data and parse results](https://dt-url.net/57a3rgv) in Dynatrace Documentation for the syntax definition and examples."
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/LogJobRecordsTopValuesRestResult"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. See the response body for details"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the top values of fields present in the content of the analyzed log",
        "tags": [
          "Log monitoring - Custom devices"
        ],
        "x-token-scopes": [
          "LogExport"
        ]
      }
    },
    "/entity/infrastructure/custom-devices/{customDeviceId}/logs/{logPath}": {
      "post": {
        "description": "The response returns the ID of the job.",
        "operationId": "customDeviceLogJobStart",
        "parameters": [
          {
            "description": "The Dynatrace entity ID of the required custom device.",
            "in": "path",
            "name": "customDeviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The full pathname of the log.",
            "in": "path",
            "name": "logPath",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Narrows down the scope of the analysis to the entries, matching the specified criteria. \n\nThe criteria must use the [text pattern query syntax](https://dt-url.net/vv83rhp).",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start timestamp of the analysis range, in UTC milliseconds. \n\n If not set, then 2 hours behind from current timestamp is used.",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "The end timestamp of the analysis range, in UTC milliseconds. \n\n If not set, then the current timestamp is used.",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ExtractFields"
              }
            }
          },
          "description": "Extract fields from the log content to form custom columns. \n\n See [Search patterns in log data and parse results](https://dt-url.net/vv83rhp) in Dynatrace Documentation for the syntax definition and examples. \n\nThe special characters must be escaped."
        },
        "responses": {
          "202": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Success. The response body contains the ID of the job."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. See the response body for details."
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Not found. See the response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Starts the analysis job for the specified custom device log",
        "tags": [
          "Log monitoring - Custom devices"
        ],
        "x-token-scopes": [
          "LogExport"
        ]
      }
    },
    "/entity/infrastructure/custom/{customDeviceId}": {
      "post": {
        "deprecated": true,
        "operationId": "createCustomDataPoints",
        "parameters": [
          {
            "description": "The ID of the custom device. \n\n If you use the ID of an existing device, the respective parameters will be updated. \n\nDon't use Dynatrace entity ID here.",
            "in": "path",
            "name": "customDeviceId",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 512,
              "minLength": 0
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/CustomDevicePushMessage"
              }
            }
          },
          "description": "The JSON body of the request. Contains parameters of a custom device."
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDevicePushResult"
                }
              }
            },
            "description": "Success. The custom device has been created or updated."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Creates or updates a custom device, or reports metric data points to the custom device.",
        "tags": [
          "Topology & Smartscape - Custom device"
        ],
        "x-token-scopes": [
          "DataExport"
        ]
      }
    },
    "/entity/infrastructure/hosts": {
      "get": {
        "deprecated": true,
        "description": "You can narrow down the output by specifying filtering parameters for the request. \n\nYou can additionally limit the output by using pagination: \n1. Specify the number of results per page in the **pageSize** query parameter. \n2. Then use the URL-encoded cursor from the **Next-Page-Key** response header in the **nextPageKey** query parameter to obtain subsequent pages.",
        "operationId": "getHosts",
        "parameters": [
          {
            "description": "The start timestamp of the requested timeframe, in milliseconds (UTC). \n\nIf not set, then 72 hours behind from now is used.",
            "in": "query",
            "name": "startTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "The end timestamp of the requested timeframe, in milliseconds (UTC). \n\nIf not set, then the current timestamp is used. \n\nThe timeframe must not exceed 3 days.",
            "in": "query",
            "name": "endTimestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "The relative timeframe, back from now.",
            "in": "query",
            "name": "relativeTime",
            "schema": {
              "type": "string",
              "enum": [
                "min",
                "5mins",
                "10mins",
                "15mins",
                "30mins",
                "hour",
                "2hours",
                "6hours",
                "day",
                "3days"
              ]
            }
          },
          {
            "description": "Filters the resulting set of hosts by the specified tag. You can specify several tags in the following format: `tag=tag1&tag=tag2`. The host has to match **all** the specified tags. \n\nIn case of key-value tags, such as imported AWS or CloudFoundry tags, use the following format: `tag=[context]key:value`. For custom key-value tags, omit the context: `tag=key:value`.",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Includes (`true`) or excludes (`false`) a monitoring candidate in the response. \n\nMonitoring candidates are network entities that are detected but not monitored.",
            "in": "query",
            "name": "showMonitoringCandidates",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filters result to the specified hosts only. \n\n To specify several hosts use the following format: `entity=ID1&entity=ID2`.",
            "in": "query",
            "name": "entity",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "description": "Only return hosts that are part of the specified management zone.",
            "in": "query",
            "name": "managementZone",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "Filters the resulting set of hosts by the specified host group. \n\n Specify the Dynatrace IDs of the host group you're interested in.",
            "in": "query",
            "name": "hostGroupId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of hosts by the specified host group. \n\n Specify the name of the host group you're interested in.",
            "in": "query",
            "name": "hostGroupName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Includes (`true`) or excludes (`false`) details which are queried from related entities.\n\nExcluding details may make queries faster. \n\nIf not set, then `true` is used.",
            "in": "query",
            "name": "includeDetails",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "description": "The number of hosts per result page. \n\n If not set, pagination is not used and the result contains all hosts fitting the specified filtering criteria.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The cursor for the next page of results. You can find it in the **Next-Page-Key** header of the previous response. \n\nIf you're using pagination, the first page is always returned without this cursor. \n\nYou must keep all other query parameters as they were in the first request to obtain subsequent pages.",
            "in": "query",
            "name": "nextPageKey",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Host"
                  }
                }
              }
            },
            "description": "Success",
            "headers": {
              "Next-Page-Key": {
                "description": "The cursor for the next page of results. Without it you'll get the first page again.\n\n The cursor must be URL-encoded.",
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "Page-Size": {
[...]
