{
  "openapi": "3.0.1",
  "info": {
    "description": "\nDocumentation of the Dynatrace Environment API v2. Resources here generally supersede those in v1. Migration of resources from v1 is in progress. \n\nIf you miss a resource, consider using the Dynatrace Environment API v1. To read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/2u23k1k) .\n\nNotes about compatibility:\n* Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this.\n* We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.",
    "title": "Dynatrace Environment API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://joh43990.sprint.dynatracelabs.com/api/v2",
      "variables": {}
    }
  ],
  "tags": [
    {
      "description": "Query and ingest metrics",
      "name": "Metrics"
    },
    {
      "description": "Manage problems and comments",
      "name": "Problems"
    },
    {
      "description": "Manage events",
      "name": "Events"
    },
    {
      "description": "Read audit logs",
      "name": "Audit Logs"
    },
    {
      "description": "Manage network zones",
      "name": "Network zones"
    },
    {
      "description": "Manage monitored entities",
      "name": "Monitored entities"
    },
    {
      "description": "Read and ingest logs",
      "name": "Logs"
    },
    {
      "description": "View information about your ActiveGates",
      "name": "ActiveGates"
    },
    {
      "description": "Manage ActiveGate auto-update settings.",
      "name": "ActiveGates - Auto-update configuration"
    },
    {
      "description": "Manage ActiveGate auto-update jobs.",
      "name": "ActiveGates - Auto-update jobs"
    },
    {
      "description": "Manage ActiveGates configuration remotely",
      "name": "ActiveGates - Remote configuration management"
    },
    {
      "description": "Manage OneAgent configuration remotely",
      "name": "OneAgent - Remote configuration management"
    },
    {
      "description": "Manage custom tags of monitored entities",
      "name": "Monitored entities - Custom tags"
    },
    {
      "description": "Read state of monitored entities",
      "name": "Monitored entities - Monitoring state"
    },
    {
      "description": "Manage SLOs",
      "name": "Service-level objectives"
    },
    {
      "description": "Analyze your deployed components",
      "name": "Releases"
    },
    {
      "description": "Manage security problems",
      "name": "Security problems"
    },
    {
      "description": "Read attacks",
      "name": "Attacks"
    },
    {
      "description": "Manage Davis security advices",
      "name": "Davis security advisor"
    },
    {
      "description": "Manage Extensions 2.0 life cycle",
      "name": "Extensions 2.0"
    },
    {
      "description": "Query countries, regions, and cities",
      "name": "Geographic regions"
    },
    {
      "description": "Install, update and manage metadata of Hub items",
      "name": "Hub items"
    },
    {
      "description": "Manage JavaScript mapping files for JavaScript symbolication and deobfuscation",
      "name": "JavaScript mapping files"
    },
    {
      "description": "Gets the status of ActiveGate [tokens enforcement](https://dt-url.net/m80331a)",
      "name": "ActiveGates - ActiveGate tokens enforcement"
    },
    {
      "description": "Ingest OpenTelemetry Protocol (OTLP) logs into Dynatrace",
      "name": "OpenTelemetry Protocol (OTLP) Logs Ingest"
    },
    {
      "description": "Ingest OpenTelemetry Protocol (OTLP) traces into Dynatrace",
      "name": "OpenTelemetry Protocol (OTLP) Trace Ingest"
    },
    {
      "description": "Ingest OpenTelemetry Protocol (OTLP) metrics into Dynatrace",
      "name": "OpenTelemetry Protocol (OTLP) Metric Ingest"
    },
    {
      "description": "Manage Dynatrace ActiveGate tokens",
      "name": "Access Tokens - ActiveGate tokens"
    },
    {
      "description": "Manage Dynatrace API tokens",
      "name": "Access Tokens - API tokens"
    },
    {
      "description": "Manage credentials for Synthetic monitors",
      "name": "Credential vault"
    },
    {
      "description": "Manage settings objects",
      "name": "Settings - Objects"
    },
    {
      "description": "View settings schemas",
      "name": "Settings - Schemas"
    },
    {
      "description": "Trigger and view information about on-demand synthetic monitor executions",
      "name": "Synthetic - On-demand monitor executions"
    },
    {
      "description": "Rotate tenant tokens",
      "name": "Access tokens - Tenant tokens"
    },
    {
      "description": "View metric units",
      "name": "Metrics - Units"
    }
  ],
  "paths": {
    "/activeGateTokens": {
      "get": {
        "description": "You can limit the output by using pagination: \n1. Specify the number of results per page in the **pageSize** query parameter. \n2. Use the cursor from the **nextPageKey** field of the previous response in the **nextPageKey** query parameter to obtain subsequent pages.",
        "operationId": "listTokens",
        "parameters": [
          {
            "description": "The cursor for the next page of results. You can find it in the **nextPageKey** field of the previous response. \n\nThe first page is always returned if you don't specify the **nextPageKey** query parameter. \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must omit all other query parameters. ",
            "in": "query",
            "name": "nextPageKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The amount of ActiveGate tokens in a single response payload. \n\nThe maximal allowed page size is 3000 and the minimal size is 100. \n\nIf not set, 100 is used.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateTokenList"
                }
              }
            },
            "description": "Success. The response contains the list of ActiveGate tokens."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists all available ActiveGate tokens",
        "tags": [
          "Access Tokens - ActiveGate tokens"
        ],
        "x-token-scopes": [
          "activeGateTokenManagement.read"
        ]
      },
      "post": {
        "description": "The newly created token will be owned by the same user who owns the token used for authentication of the call.",
        "operationId": "createToken",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ActiveGateTokenCreate"
              }
            }
          },
          "description": "The JSON body of the request. Contains parameters of the new ActiveGate token.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateTokenCreated"
                }
              }
            },
            "description": "Success. The token has been created. The body of the response contains the token secret."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Creates a new ActiveGate token",
        "tags": [
          "Access Tokens - ActiveGate tokens"
        ],
        "x-token-scopes": [
          "activeGateTokenManagement.create",
          "activeGateTokenManagement.write"
        ]
      }
    },
    "/activeGateTokens/{activeGateTokenIdentifier}": {
      "delete": {
        "operationId": "revokeToken",
        "parameters": [
          {
            "description": "The ActiveGate token identifier, consisting of [prefix and public part](https://dt-url.net/rn00tjg) of the token to be deleted.",
            "in": "path",
            "name": "activeGateTokenIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Deletes an ActiveGate token",
        "tags": [
          "Access Tokens - ActiveGate tokens"
        ],
        "x-token-scopes": [
          "activeGateTokenManagement.write"
        ]
      },
      "get": {
        "description": "The token secret is **not** exposed.",
        "operationId": "getToken",
        "parameters": [
          {
            "description": "The ActiveGate token identifier, consisting of [prefix and public part](https://dt-url.net/rn00tjg) of the token.",
            "in": "path",
            "name": "activeGateTokenIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateToken"
                }
              }
            },
            "description": "Success. The response contains the metadata of the tokens."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets metadata of an ActiveGate token",
        "tags": [
          "Access Tokens - ActiveGate tokens"
        ],
        "x-token-scopes": [
          "activeGateTokenManagement.read"
        ]
      }
    },
    "/activeGates": {
      "get": {
        "description": "The response includes all ActiveGates that are currently connected to the environment or have been connected during last 2 hours.",
        "operationId": "getAllActiveGates",
        "parameters": [
          {
            "description": "Filters the resulting set of ActiveGates by the name of the host it's running on. \n\n You can specify a partial name. In that case, the `CONTAINS` operator is used.",
            "in": "query",
            "name": "hostname",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the OS type of the host it's running on.",
            "in": "query",
            "name": "osType",
            "schema": {
              "type": "string",
              "enum": [
                "LINUX",
                "WINDOWS"
              ]
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the network address. \n\n You can specify a partial address. In that case, the `CONTAINS` operator is used.",
            "in": "query",
            "name": "networkAddress",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the Load Balancer address. \n\n You can specify a partial address. In that case, the `CONTAINS` operator is used.",
            "in": "query",
            "name": "loadBalancerAddress",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the ActiveGate type.",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "ENVIRONMENT",
                "ENVIRONMENT_MULTI"
              ]
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the network zone. \n\n You can specify a partial name. In that case, the `CONTAINS` operator is used.",
            "in": "query",
            "name": "networkZone",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the auto-update status.",
            "in": "query",
            "name": "updateStatus",
            "schema": {
              "type": "string",
              "enum": [
                "INCOMPATIBLE",
                "OUTDATED",
                "SCHEDULED",
                "SUPPRESSED",
                "UNKNOWN",
                "UP2DATE",
                "UPDATE_IN_PROGRESS",
                "UPDATE_PENDING",
                "UPDATE_PROBLEM"
              ]
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the specified version. \n\n Specify the comparison operator here.",
            "in": "query",
            "name": "versionCompareType",
            "schema": {
              "type": "string",
              "default": "EQUAL",
              "enum": [
                "EQUAL",
                "GREATER",
                "GREATER_EQUAL",
                "LOWER",
                "LOWER_EQUAL"
              ]
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the specified version. \n\n Specify the version in `<major>.<minor>.<revision>` format (for example, `1.195.0`) here.",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the actual state of auto-update.",
            "in": "query",
            "name": "autoUpdate",
            "schema": {
              "type": "string",
              "enum": [
                "DISABLED",
                "ENABLED"
              ]
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the group. \n\n You can specify a partial name. In that case, the `CONTAINS` operator is used.",
            "in": "query",
            "name": "group",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the communication status.",
            "in": "query",
            "name": "online",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the enabled modules.",
            "in": "query",
            "name": "enabledModule",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AWS",
                  "AZURE",
                  "BEACON_FORWARDER",
                  "CLOUD_FOUNDRY",
                  "DB_INSIGHT",
                  "EXTENSIONS_V1",
                  "EXTENSIONS_V2",
                  "KUBERNETES",
                  "LOGS",
                  "MEMORY_DUMPS",
                  "METRIC_API",
                  "ONE_AGENT_ROUTING",
                  "OTLP_INGEST",
                  "REST_API",
                  "SYNTHETIC",
                  "VMWARE",
                  "Z_OS"
                ]
              }
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates by the disabled modules.",
            "in": "query",
            "name": "disabledModule",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "AWS",
                  "AZURE",
                  "BEACON_FORWARDER",
                  "CLOUD_FOUNDRY",
                  "DB_INSIGHT",
                  "EXTENSIONS_V1",
                  "EXTENSIONS_V2",
                  "KUBERNETES",
                  "LOGS",
                  "MEMORY_DUMPS",
                  "METRIC_API",
                  "ONE_AGENT_ROUTING",
                  "OTLP_INGEST",
                  "REST_API",
                  "SYNTHETIC",
                  "VMWARE",
                  "Z_OS"
                ]
              }
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates to those which are running in container (`true`) or not (`false`).",
            "in": "query",
            "name": "containerized",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates to those with authorization token in specified state.",
            "in": "query",
            "name": "tokenState",
            "schema": {
              "type": "string",
              "enum": [
                "ABSENT",
                "EXPIRING",
                "INVALID",
                "UNKNOWN",
                "UNSUPPORTED",
                "VALID"
              ]
            }
          },
          {
            "description": "Filters the resulting set of ActiveGates to those with set expiration date for authorization token.",
            "in": "query",
            "name": "tokenExpirationSet",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateList"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists all available ActiveGates",
        "tags": [
          "ActiveGates"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      }
    },
    "/activeGates/autoUpdate": {
      "get": {
        "operationId": "getGlobalAutoUpdateConfigForTenant",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateGlobalAutoUpdateConfig"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the global auto-update configuration of environment ActiveGates.",
        "tags": [
          "ActiveGates - Auto-update configuration"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      },
      "put": {
        "operationId": "putGlobalAutoUpdateConfigForTenant",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ActiveGateGlobalAutoUpdateConfig"
              }
            }
          },
          "description": "JSON body of the request, containing global auto update parameters.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success. The global auto-update configuration have been updated. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Puts the global auto-update configuration of environment ActiveGates.",
        "tags": [
          "ActiveGates - Auto-update configuration"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      }
    },
    "/activeGates/autoUpdate/validator": {
      "post": {
        "operationId": "validateGlobalAutoUpdateConfigForTenant",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ActiveGateGlobalAutoUpdateConfig"
              }
            }
          },
          "description": "JSON body of the request, containing global auto update parameters.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "Validated. The submitted configuration is valid. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Validates the payload for the `POST /activeGates/autoUpdate` request.",
        "tags": [
          "ActiveGates - Auto-update configuration"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      }
    },
    "/activeGates/remoteConfigurationManagement": {
      "get": {
        "description": "The response includes finished jobs for the last 7 days.",
        "operationId": "getRemoteIdentityOperations",
        "parameters": [
          {
            "description": "The start of the requested timeframe for a remote configuration management job. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\n",
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end of the requested timeframe for a remote configuration management job. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfigurationManagementJobList"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists finished ActiveGate remote configuration management jobs",
        "tags": [
          "ActiveGates - Remote configuration management"
        ],
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      },
      "post": {
        "operationId": "createRemoteIdentityOperationJob",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/RemoteConfigurationManagementOperationActiveGateRequest"
              }
            }
          },
          "description": "JSON body of the request, containing remote configuration management job definition.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfigurationManagementJob"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfigurationManagementValidationResult"
                }
              }
            },
            "description": "Failed. The input is invalid."
          },
          "409": {
            "description": "Other remote configuration management job is currently being executed"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Creates a new remote configuration management job",
        "tags": [
          "ActiveGates - Remote configuration management"
        ],
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      }
    },
    "/activeGates/remoteConfigurationManagement/current": {
      "get": {
        "description": "The currently running remote configuration management job may be related to ActiveGates or OneAgents. There is a limit of one concurrent remote configuration management job, regardless of the entity type.",
        "operationId": "getCurrentRemoteIdentityOperationJob",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfigurationManagementJob"
                }
              }
            },
            "description": "Success"
          },
          "204": {
            "description": "No remote configuration management job is currently running "
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets remote configuration management job that is currently running",
        "tags": [
          "ActiveGates - Remote configuration management"
        ],
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      }
    },
    "/activeGates/remoteConfigurationManagement/preview": {
      "post": {
        "operationId": "createRemoteIdentityOperationPreview",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/RemoteConfigurationManagementOperationActiveGateRequest"
              }
            }
          },
          "description": "JSON body of the request, containing remote configuration management job definition.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfigurationManagementPreviewList"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfigurationManagementValidationResult"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Creates a preview for remote configuration management job - applicable only to network zone, host group and ActiveGate group",
        "tags": [
          "ActiveGates - Remote configuration management"
        ],
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      }
    },
    "/activeGates/remoteConfigurationManagement/validator": {
      "post": {
        "operationId": "validateRemoteIdentityOperation",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/RemoteConfigurationManagementOperationActiveGateRequest"
              }
            }
          },
          "description": "JSON body of the request, containing remote configuration management job definition.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfigurationManagementValidationResult"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Validates the payload for the `POST /activeGates/remoteConfigurationManagement` request.",
        "tags": [
          "ActiveGates - Remote configuration management"
        ],
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      }
    },
    "/activeGates/remoteConfigurationManagement/{id}": {
      "get": {
        "operationId": "getRemoteIdentityOperationJob",
        "parameters": [
          {
            "description": "The ID of the required remote configuration management job.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/RemoteConfigurationManagementJob"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the specified remote configuration management job",
        "tags": [
          "ActiveGates - Remote configuration management"
        ],
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      }
    },
    "/activeGates/tokenEnforcement": {
      "get": {
        "operationId": "getTokenEnforcement",
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateTokenEnforcement"
                }
              }
            },
            "description": "Success. The response contains the status of ActiveGate tokens enforcement"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the status of ActiveGate tokens enforcement",
        "tags": [
          "ActiveGates - ActiveGate tokens enforcement"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      }
    },
    "/activeGates/updateJobs": {
      "get": {
        "description": "The response includes ActiveGates that have both completed (successful and failed) jobs and jobs in progress.",
        "operationId": "getAllUpdateJobList",
        "parameters": [
          {
            "description": "The start of the requested timeframe for update jobs. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the relative timeframe of one day is used (`now-1d`). \n\nMaximum timeframe is 31 days.",
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end of the requested timeframe for update jobs. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of update jobs by the specified initial version. \n\n Specify the comparison operator here.",
            "in": "query",
            "name": "startVersionCompareType",
            "schema": {
              "type": "string",
              "default": "EQUAL",
              "enum": [
                "EQUAL",
                "GREATER",
                "GREATER_EQUAL",
                "LOWER",
                "LOWER_EQUAL"
              ]
            }
          },
          {
            "description": "Filters the resulting set of update-jobs by the initial version (required format `<major>.<minor>.<revision>`).",
            "in": "query",
            "name": "startVersion",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of update-jobs by the update type.",
            "example": "ACTIVE_GATE",
            "in": "query",
            "name": "updateType",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE_GATE",
                "REMOTE_PLUGIN_AGENT",
                "SYNTHETIC",
                "Z_REMOTE"
              ]
            }
          },
          {
            "description": "Filters the resulting set of update jobs by the specified target version. \n\n Specify the comparison operator here.",
            "in": "query",
            "name": "targetVersionCompareType",
            "schema": {
              "type": "string",
              "default": "EQUAL",
              "enum": [
                "EQUAL",
                "GREATER",
                "GREATER_EQUAL",
                "LOWER",
                "LOWER_EQUAL"
              ]
            }
          },
          {
            "description": "Filters the resulting set of update-jobs by the target version (required format `<major>.<minor>.<revision>`).",
            "in": "query",
            "name": "targetVersion",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If `true`, filters the resulting set of update jobs to the most recent update of each type.",
            "in": "query",
            "name": "lastUpdates",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateJobsAll"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "List ActiveGates with update jobs",
        "tags": [
          "ActiveGates - Auto-update jobs"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      }
    },
    "/activeGates/{agId}": {
      "get": {
        "operationId": "getOneActiveGateById",
        "parameters": [
          {
            "description": "The ID of the required ActiveGate.",
            "in": "path",
            "name": "agId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGate"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Not found. See response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the details of the specified ActiveGate",
        "tags": [
          "ActiveGates"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      }
    },
    "/activeGates/{agId}/autoUpdate": {
      "get": {
        "operationId": "getAutoUpdateConfigById",
        "parameters": [
          {
            "description": "The ID of the required ActiveGate.",
            "in": "path",
            "name": "agId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveGateAutoUpdateConfig"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Not found. See response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the configuration of auto-update for the specified ActiveGate",
        "tags": [
          "ActiveGates - Auto-update configuration"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      },
      "put": {
        "operationId": "putAutoUpdateConfigById",
        "parameters": [
          {
            "description": "The ID of the required ActiveGate.",
            "in": "path",
            "name": "agId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ActiveGateAutoUpdateConfig"
              }
            }
          },
          "description": "JSON body of the request, containing auto update parameters.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success. The auto-update configuration have been updated. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Updates the configuration of auto-update for the specified ActiveGate",
        "tags": [
          "ActiveGates - Auto-update configuration"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      }
    },
    "/activeGates/{agId}/autoUpdate/validator": {
      "post": {
        "operationId": "validateAutoUpdateConfigById",
        "parameters": [
          {
            "description": "The ID of the required ActiveGate.",
            "in": "path",
            "name": "agId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ActiveGateAutoUpdateConfig"
              }
            }
          },
          "description": "JSON body of the request, containing auto update parameters.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "Validated. The submitted auto-update configuration is valid. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Validates the payload for the `POST /activeGates/{agId}/autoUpdate` request.",
        "tags": [
          "ActiveGates - Auto-update configuration"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      }
    },
    "/activeGates/{agId}/updateJobs": {
      "get": {
        "description": "The job can update the ActiveGate to the specified version or the latest available one.",
        "operationId": "getUpdateJobListByAgId",
        "parameters": [
          {
            "description": "The ID of the required ActiveGate.",
            "in": "path",
            "name": "agId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start of the requested timeframe for update jobs. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the relative timeframe of one week is used (`now-1w`). \n\nMaximum timeframe is 31 days.",
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end of the requested timeframe for update jobs. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of update jobs by the specified initial version. \n\n Specify the comparison operator here.",
            "in": "query",
            "name": "startVersionCompareType",
            "schema": {
              "type": "string",
              "default": "EQUAL",
              "enum": [
                "EQUAL",
                "GREATER",
                "GREATER_EQUAL",
                "LOWER",
                "LOWER_EQUAL"
              ]
            }
          },
          {
            "description": "Filters the resulting set of update-jobs by the initial version (required format `<major>.<minor>.<revision>`).",
            "in": "query",
            "name": "startVersion",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters the resulting set of update-jobs by the update type.",
            "example": "ACTIVE_GATE",
            "in": "query",
            "name": "updateType",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE_GATE",
                "REMOTE_PLUGIN_AGENT",
                "SYNTHETIC",
                "Z_REMOTE"
              ]
            }
          },
          {
            "description": "Filters the resulting set of update jobs by the specified target version. \n\n Specify the comparison operator here.",
            "in": "query",
            "name": "targetVersionCompareType",
            "schema": {
              "type": "string",
              "default": "EQUAL",
              "enum": [
                "EQUAL",
                "GREATER",
                "GREATER_EQUAL",
                "LOWER",
                "LOWER_EQUAL"
              ]
            }
          },
          {
            "description": "Filters the resulting set of update-jobs by the target version (required format `<major>.<minor>.<revision>`).",
            "in": "query",
            "name": "targetVersion",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If `true`, filters the resulting set of update jobs to the most recent update of each type.",
            "in": "query",
            "name": "lastUpdates",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateJobList"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Not found. See response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists update jobs for the specified ActiveGate",
        "tags": [
          "ActiveGates - Auto-update jobs"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      },
      "post": {
        "operationId": "createUpdateJobForAg",
        "parameters": [
          {
            "description": "The ID of the required ActiveGate.",
            "in": "path",
            "name": "agId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJob"
              }
            }
          },
          "description": "JSON body of the request, containing update-job parameters.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateJob"
                }
              }
            },
            "description": "Success. The update-job have been created."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Creates a new update job for the specified ActiveGate",
        "tags": [
          "ActiveGates - Auto-update jobs"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      }
    },
    "/activeGates/{agId}/updateJobs/validator": {
      "post": {
        "operationId": "validateUpdateJobForAg",
        "parameters": [
          {
            "description": "The ID of the required ActiveGate.",
            "in": "path",
            "name": "agId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJob"
              }
            }
          },
          "description": "JSON body of the request, containing update-job parameters.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "Validated. The submitted update-job is valid. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Validates the payload for the `POST /activeGates/{agId}/updateJobs` request.",
        "tags": [
          "ActiveGates - Auto-update jobs"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      }
    },
    "/activeGates/{agId}/updateJobs/{jobId}": {
      "delete": {
        "operationId": "deleteUpdateJobByJobIdForAg",
        "parameters": [
          {
            "description": "The ID of the required ActiveGate.",
            "in": "path",
            "name": "agId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A unique identifier for a update-job of ActiveGate.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success. The update-job have been deleted. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Not found. See response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Deletes the specified update job",
        "tags": [
          "ActiveGates - Auto-update jobs"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.write"
        ]
      },
      "get": {
        "operationId": "getUpdateJobByJobIdForAg",
        "parameters": [
          {
            "description": "The ID of the required ActiveGate.",
            "in": "path",
            "name": "agId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A unique identifier for a update-job of ActiveGate.",
            "in": "path",
            "name": "jobId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateJob"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Not found. See response body for details."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the parameters of the specified update job",
        "tags": [
          "ActiveGates - Auto-update jobs"
        ],
        "x-permissions": [
          "environment:roles:manage-settings"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "activeGates.read"
        ]
      }
    },
    "/apiTokens": {
      "get": {
        "description": "You can limit the output by using pagination: \n1. Specify the number of results per page in the **pageSize** query parameter. \n2. Use the cursor from the **nextPageKey** field of the previous response in the **nextPageKey** query parameter to obtain subsequent pages.",
        "operationId": "listApiTokens",
        "parameters": [
          {
            "description": "The cursor for the next page of results. You can find it in the **nextPageKey** field of the previous response. \n\nThe first page is always returned if you don't specify the **nextPageKey** query parameter. \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must omit all other query parameters. ",
            "in": "query",
            "name": "nextPageKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The amount of API tokens in a single response payload. \n\nThe maximal allowed page size is 10000 and the minimal allowed page size is 100. \n\nIf not set, 200 is used.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 10000
            }
          },
          {
            "description": "Filters the resulting sets of tokens. Only tokens matching the specified criteria are included into response. \n\nYou can set one or more of the following criteria: \n\n* Owner: `owner(\"value\")`. The user that owns the token. Case-sensitive.\n* Personal access token: `personalAccessToken(false)`. Set to `true` to include only personal access tokens or to `false` to include only API tokens.\n* Token scope: `scope(\"scope1\",\"scope2\")`. If several values are specified, the **OR** logic applies. \n\nTo set multiple criteria, separate them with commas (`,`). Only results matching **all** criteria are included into response.",
            "in": "query",
            "name": "apiTokenSelector",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the fields to be included in the response.\n\nThe following fields are included by default: \n\n* `id` \n* `name` \n* `enabled` \n* `owner` \n* `creationDate` \n\nTo remove fields from the response, specify them with the minus (`-`) operator as a comma-separated list (for example, `-creationDate,-owner`). \n\nYou can include additional fields: \n\n* `personalAccessToken` \n* `expirationDate` \n* `lastUsedDate` \n* `lastUsedIpAddress` \n* `modifiedDate` \n* `scopes` \n\n* `additionalMetadata` \n\nTo add fields to the response, specify them with the plus (`+`) operator as a comma-separated list (for example, `+expirationDate,+scopes`). You can combine adding and removing of fields (for example, `+scopes,-creationDate`). \n\nAlternatively, you can define the desired set of fields in the response. Specify the required fields as a comma-separated list, without operators (for example, `creationDate,expirationDate,owner`). The ID is always included in the response. \n\nThe **fields** string must be URL-encoded.",
            "in": "query",
            "name": "fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters tokens based on the last usage time. \nThe start of the requested timeframe. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\n",
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters tokens based on the last usage time. \nThe end of the requested timeframe. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The sort order of the token list. \n\nYou can sort by the following properties with a sign prefix for the sort order: \n\n * `name`: token name (`+` a...z or `-` z...a) \n * `lastUsedDate` last used (`+` never used tokens first `-` most recently used tokens first) \n * `creationDate` (`+` oldest tokens first `-` newest tokens first) \n * `expirationDate` (`+` tokens that expire soon first `-` unlimited tokens first) \n * `modifiedDate` last modified (`+` never modified tokens first `-` most recently modified tokens first) \n\nIf no prefix is set, + is used. \n\nIf not set, tokens are sorted by creation date with newest first.",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "-creationDate"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenList"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists all available API tokens",
        "tags": [
          "Access Tokens - API tokens"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "apiTokens.read"
        ]
      },
      "post": {
        "description": "The newly created token will be owned by the same user who owns the token used for authentication of the call. \n\n Creating personal access tokens requires the `environment:roles:viewer` permission. Creating access tokens requires the `environment:roles:manage-settings` permission.",
        "operationId": "createApiToken",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ApiTokenCreate"
              }
            }
          },
          "description": "The JSON body of the request. Contains parameters of the new API token.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenCreated"
                }
              }
            },
            "description": "Success. The token has been created. The body of the response contains the token secret."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Creates a new API token",
        "tags": [
          "Access Tokens - API tokens"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "apiTokens.write"
        ]
      }
    },
    "/apiTokens/lookup": {
      "post": {
        "operationId": "lookupApiToken",
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ApiTokenSecret"
              }
            }
          },
          "description": "The JSON body of the request. Contains the required token.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiToken"
                }
              }
            },
            "description": "Success"
          },
          "404": {
            "description": "Failed. The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets API token metadata by token secret",
        "tags": [
          "Access Tokens - API tokens"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-token-scopes": []
      }
    },
    "/apiTokens/{id}": {
      "delete": {
        "operationId": "deleteApiToken",
        "parameters": [
          {
            "description": "The ID of the token to be deleted. \n\nYou can specify either the ID or the secret of the token. \n\nYou can't delete the token you're using for authentication of the request.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. You can't delete the token you're using for authentication of the request."
          },
          "404": {
            "description": "Failed. The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Deletes an API token",
        "tags": [
          "Access Tokens - API tokens"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "apiTokens.write"
        ]
      },
      "get": {
        "description": "The token secret is **not** exposed.",
        "operationId": "getApiToken",
        "parameters": [
          {
            "description": "The ID of the token.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiToken"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          },
          "404": {
            "description": "Failed. The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets API token metadata by token ID",
        "tags": [
          "Access Tokens - API tokens"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "apiTokens.read"
        ]
      },
      "put": {
        "operationId": "updateApiToken",
        "parameters": [
          {
            "description": "The ID of the token to be updated. \n\n You can't disable the token you're using for authentication of the request.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=utf-8": {
              "schema": {
                "$ref": "#/components/schemas/ApiTokenUpdate"
              }
            }
          },
          "description": "The JSON body of the request. Contains updated parameters of the API token.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success. Response doesn't have a body."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The input is invalid."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Updates an API token",
        "tags": [
          "Access Tokens - API tokens"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-permissions": [
          "environment:roles:viewer"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "apiTokens.write"
        ]
      }
    },
    "/attacks": {
      "get": {
        "operationId": "getAttacks",
        "parameters": [
          {
            "description": "The cursor for the next page of results. You can find it in the **nextPageKey** field of the previous response. \n\nThe first page is always returned if you don't specify the **nextPageKey** query parameter. \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must omit all other query parameters. ",
            "in": "query",
            "name": "nextPageKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The amount of attacks in a single response payload. \n\nThe maximal allowed page size is 500. \n\nIf not set, 100 is used.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "Defines the scope of the query. Only attacks matching the specified criteria are included in the response. You can add one or more of the following criteria. Values are *not* case-sensitive and the `EQUALS` operator is used unless otherwise specified.\n\n* State: `state(\"value\")`. The state of the attack. Possible values are `EXPLOITED`, `BLOCKED`, and `ALLOWLISTED`.\n* Attack Type: `attackType(\"value\")`. The type of the attack. Find the possible values in the description of the **attackType** field of the response.\n* Country Code: `countryCode(\"value\")`. The country code of the attacker. Supported values include all ISO-3166-1 alpha-2 country codes (2-letter). Supplying empty filter value `countryCode()` will return attacks, where location is not available.\n* Request path contains: `requestPathContains(\"value\")`. Filters for a substring in the request path. The `CONTAINS` operator is used. A maximum of 48 characters are allowed.\n* Process group name contains: `processGroupNameContains(\"value\")`. Filters for a substring in the targeted process group's name. The `CONTAINS` operator is used.\n* Vulnerability ID: `vulnerabilityId(\"123456789\")`. The exact ID of the vulnerability.\n* Source IPs: `sourceIps(\"93.184.216.34\", \"63.124.6.12\")`. The exact IPv4/IPv6 addresses of the attacker.\n* Management zone ID: `managementZoneIds(\"mzId-1\", \"mzId-2\")`.\n* Management zone name: `managementZones(\"name-1\", \"name-2\")`. Values are case sensitive.\n* Technology: `technology(\"technology-1\", \"technology-2\")`. Find the possible values in the description of the **technology** field of the response. The `EQUALS` operator is used.\n\nTo set several criteria, separate them with a comma (`,`). Only results matching (**all** criteria are included in the response.\n\nSpecify the value of a criterion as a quoted string. The following special characters must be escaped with a tilde (`~`) inside quotes:\n* Tilde `~` \n* Quote `\"`",
            "in": "query",
            "name": "attackSelector",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies one or more fields for sorting the attack list. Multiple fields can be concatenated using a comma (`,`) as a separator (e.g. `+state,-timestamp`).\n\nYou can sort by the following properties with a sign prefix for the sorting order. \n\n* `displayId`: The attack's display ID.\n* `displayName`: The attack's display name.\n* `attackType`: The type of the attack (e.g. SQL_INJECTION, JNDI_INJECTION, etc.).\n* `state`: The state of the attack. (`+` low severity state first `-` high severity state first)\n* `sourceIp`: The IP address of the attacker. Sorts by the numerical IP value.\n* `requestPath`: The request path where the attack was started.\n* `timestamp`: When the attack was executed. (`+` old attacks first or `-` new attacks first)\nIf no prefix is set, `+` is used.",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of additional attack properties you can add to the response.\n\nThe following properties are available (all other properties are always included and you can't remove them from the response):\n\n* `attackTarget`: The targeted host/database of an attack.\n* `request`: The request that was sent from the attacker.\n* `entrypoint`: The entry point used by an attacker to start a specific attack.\n* `vulnerability`: The vulnerability utilized by the attack.\n* `securityProblem`: The related security problem.\n* `attacker`: The attacker of an attack.\n* `managementZones`: The related management zones.\n* `affectedEntities`: The affected entities of an attack.\n\nTo add properties, specify them in a comma-separated list and prefix each property with a plus (for example, `+attackTarget,+securityProblem`).\n",
            "in": "query",
            "name": "fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start of the requested timeframe. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the relative timeframe of thirty days is used (`now-30d`).",
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end of the requested timeframe. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/AttackList"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Lists all attacks | maturity=EARLY_ADOPTER",
        "tags": [
          "Attacks"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-maturity": "EARLY_ADOPTER",
        "x-permissions": [
          "environment:roles:manage-security-problems",
          "environment:roles:view-security-problems"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "attacks.read"
        ]
      }
    },
    "/attacks/{id}": {
      "get": {
        "operationId": "getAttack",
        "parameters": [
          {
            "description": "The ID of the attack.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of additional attack properties you can add to the response.\n\nThe following properties are available (all other properties are always included and you can't remove them from the response):\n\n* `attackTarget`: The targeted host/database of an attack.\n* `request`: The request that was sent from the attacker.\n* `entrypoint`: The entry point used by an attacker to start a specific attack.\n* `vulnerability`: The vulnerability utilized by the attack.\n* `securityProblem`: The related security problem.\n* `attacker`: The attacker of an attack.\n* `managementZones`: The related management zones.\n\nTo add properties, specify them in a comma-separated list and prefix each property with a plus (for example, `+attackTarget,+securityProblem`).\n",
            "in": "query",
            "name": "fields",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Attack"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the specified attack | maturity=EARLY_ADOPTER",
        "tags": [
          "Attacks"
        ],
        "x-allow-access-with-management-zone-permissions": true,
        "x-maturity": "EARLY_ADOPTER",
        "x-permissions": [
          "environment:roles:manage-security-problems",
          "environment:roles:view-security-problems"
        ],
        "x-supports-personal-access-token": true,
        "x-token-scopes": [
          "attacks.read"
        ]
      }
    },
    "/auditlogs": {
      "get": {
        "description": "You can limit the output by using pagination: \n1. Specify the number of results per page in the **pageSize** query parameter. \n2. Use the cursor from the **nextPageKey** field of the previous response in the **nextPageKey** query parameter to obtain subsequent pages.",
        "operationId": "getLogs",
        "parameters": [
          {
            "description": "The cursor for the next page of results. You can find it in the **nextPageKey** field of the previous response. \n\nThe first page is always returned if you don't specify the **nextPageKey** query parameter. \n\nWhen the **nextPageKey** is set to obtain subsequent pages, you must omit all other query parameters. ",
            "in": "query",
            "name": "nextPageKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The amount of log entries in a single response payload. \n\nThe maximal allowed page size is 5000. \n\nIf not set, 1000 is used.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "description": "Filters the audit log. You can use the following criteria: \n* User: `user(\"userIdentification\")`. The `EQUALS` operator applies. \n* Event type: `eventType(\"value\")`. The `EQUALS` operator applies. \n* Category of a logged operation: `category(\"value\")`. The `EQUALS` operator applies. \n* Entity ID: `entityId(\"id\")`. The `CONTAINS` operator applies. \n\nFor each criterion, you can specify multiple alternatives with comma-separated values. In this case, the OR logic applies. For example, `eventType(\"CREATE\",\"UPDATE\")` means eventType can be \"CREATE\" or \"UPDATE\". \n\nYou can specify multiple comma-separated criteria, such as `eventType(\"CREATE\",\"UPDATE\"),category(\"CONFIG\")`. Only results matching **all** criteria are included in response. \n\nSpecify the value of a criterion as a quoted string. The following special characters must be escaped with a tilde (`~`) inside quotes: \n* Tilde `~` \n* Quote `\"`",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start of the requested timeframe. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the relative timeframe of two weeks is used (`now-2w`).",
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The end of the requested timeframe. \n\nYou can use one of the following formats: \n* Timestamp in UTC milliseconds. \n* Human-readable format of `2021-01-25T05:57:01.123+01:00`. If no time zone is specified, UTC is used. You can use a space character instead of the `T`. Seconds and fractions of a second are optional. \n* Relative timeframe, back from now. The format is `now-NU/A`, where `N` is the amount of time, `U` is the unit of time, and `A` is an alignment. The alignment rounds all the smaller values to the nearest zero in the past. For example, `now-1y/w` is one year back, aligned by a week. \nYou can also specify relative timeframe without an alignment: `now-NU`. \nSupported time units for the relative timeframe are: \n   * `m`: minutes \n   * `h`: hours \n   * `d`: days \n   * `w`: weeks \n   * `M`: months \n   * `y`: years \n\nIf not set, the current timestamp is used.",
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The sorting of audit log entries: \n* `timestamp`: Oldest first. \n* `-timestamp`: Newest first. \n\nIf not set, the newest first sorting is applied.",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "-timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              }
            },
            "description": "Success"
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the audit log of your Dynatrace environment | maturity=EARLY_ADOPTER",
        "tags": [
          "Audit Logs"
        ],
        "x-maturity": "EARLY_ADOPTER",
        "x-token-scopes": [
          "auditLogs.read"
        ]
      }
    },
    "/auditlogs/{id}": {
      "get": {
        "operationId": "getLog",
        "parameters": [
          {
            "description": "The ID of the required log entry.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 19,
              "minLength": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogEntry"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. Invalid ID format."
          },
          "404": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "description": "Failed. The requested resource doesn't exist."
          }
        },
        "security": [
          {
            "Api-Token": []
          }
        ],
        "summary": "Gets the specified entry of the audit log | maturity=EARLY_ADOPTER",
        "tags": [
          "Audit Logs"
        ],
        "x-maturity": "EARLY_ADOPTER",
        "x-token-scopes": [
          "auditLogs.read"
        ]
      }
    },
    "/bizevents/ingest": {
      "post": {
        "description": "The ingestion of business events consumes [Davis Data Units](https://dt-url.net/ddu) (DDUs) from the business events pool.",
        "operationId": "ingest_1",
        "requestBody": {
          "content": {
            "application/cloudevent+json": {
              "example": {
                "specversion": "1.0",
                "id": "1",
                "source": "custom.source",
                "type": "com.mycompany.shop.checkout",
                "dtcontext": "dt.session_id=\"234234234324235345345\",dt.entity.rum_application=\"APPLICATION-53453458340758\",host.name=\"123.123.123.123\"",
                "dataschema": "http://dynatrace.com/schema/bizevents/generic/1.0",
                "traceparent": "00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-00",
                "data": {
                  "id": "OR-838475",
                  "paymentType": "paypal",
                  "plannedDeliveryDate": "01.01.2021",
                  "total": 234.0
                }
              },
              "schema": {
                "$ref": "#/components/schemas/CloudEvent"
              }
            },
            "application/cloudevent-batch+json": {
              "example": [
                {
                  "specversion": "1.0",
                  "id": "1",
                  "source": "custom.provider",
                  "type": "com.easytravel.funnel.product-view",
                  "data": "just a string"
                },
                {
                  "specversion": "1.0",
                  "id": "2",
                  "source": "custom.provider",
                  "type": "com.easytravel.frontend.booking-process-triggered",
                  "data_base64": "SGkgdGhlcmUsIEkgYW0geW91ciBteXN0aWNhbCwgdW5rbm93biBjb250ZW50"
                }
              ],
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CloudEvent"
                }
              }
            },
            "application/json; charset=utf-8": {
              "example": {
                "id": "1",
                "paymentType": "paypal",
                "plannedDeliveryDate": "01.01.2021",
                "event.provider": "custom.provider",
                "total": 234.0,
                "customer": {
                  "firstName": "John",
                  "lastName": "Doe"
                },
                "orderItemsProductIDs": [
                  "PR-102002002",
                  "QZ-123232"
                ]
              },
              "schema": {
                "type": "object",
                "description": "Can be either a Json-Object or an Array of Json-Objects.\nFollowing properties have special semantics:\n- time - Timestamp in millis, will be set if missing\n- event.id - Will be auto-generated if missing\n- event.provider - Defaults to 'unknown' if missing\n- event.type - Defaults to 'unknown' if missing\n- event.kind - Always overridden to 'BIZ_EVENT'\n\nAny other keys will be transferred as event properties."
              }
            }
          },
          "description": "The Business Event",
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json; charset=utf-8": {
                "example": {}
              }
            },
            "description": "The provided business events are all accepted and will be processed."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/BizEventIngestResult"
                }
              }
            },
            "description": "Some business events are invalid. Valid business events are accepted and will be processed."
          }
        },
        "summary": "Ingests a business event",
        "tags": [
          "Business Events"
        ],
        "x-only-visible-in-saas": true
      }
    },
    "/credentials": {
      "get": {
        "description": "The credentials set itself (username/certificate and password) is not included in the response.",
        "operationId": "listCredentials",
        "parameters": [
          {
            "description": "Filters the result by the specified credentials type.",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "CERTIFICATE",
[...]
